body {
    min-height: 3000px;
}
  
.jumbotron {
    padding-top: 6rem;
    background-color: #f9dbf5; 
}
  
#projects {
    background-color: #f9dbf5; 
}
  
section {
    padding-top: 5rem;
}

footer {
    color: black; 
}